/*
    seantis.reservation overview and resource listing styles for sunburst
*/

/* resource listing overview*/
.resource-listing {
    float: left;
    margin-bottom: 90px;
    width: 40%;
}

.resource-listing-overview {
    float: right;
    margin-top: -90px; 
    width: 60%;
}

.resource-listing-overview .fc-widget-header.fc-mon,
.resource-listing-overview .fc-widget-header.fc-tue,
.resource-listing-overview .fc-widget-header.fc-wed,
.resource-listing-overview .fc-widget-header.fc-thu,
.resource-listing-overview .fc-widget-header.fc-fri {
    background-color: #efefef;
    border: none;
}

.resource-listing-overview .fc-widget-header.fc-sat,
.resource-listing-overview .fc-widget-header.fc-sun {
    background-color: #ddd !important;   
    border: none;
}


@media all and (max-width: 750px) {
     .resource-listing, .resource-listing-overview {
          float: none;
          margin-top: auto;
          margin-bottom: 20px;
          width: 100%;
     }
}

/* resource listing */
.resource-listing-entry {
    padding: 10px;
    margin: auto 10px auto -10px;
    border: 1px solid transparent;
    
}

.resource-listing-entry.groupSelection,
.resource-listing-entry:hover {
    -webkit-box-shadow: none !important;
       -moz-box-shadow: none !important;
            box-shadow: none !important;
    
    background-color: #fff6d2 !important; 
    border-color: #ffeea9;
    
}

.resource-listing-entry * {
    margin: 0;   
}

.resource-listing-entry p {
   color: #333;
   max-width: 500px;
   margin-bottom: 0 !important;
}

.template-resource_listing .documentDescription {
   margin: 5px 0 15px 0;
   font-weight: normal   
}

/* group selection */
#seantis-overview-calendar td.groupSelection {
    -webkit-box-shadow: none;
    box-shadow: none;

    /* if the box shadow is reduced to none here, mozilla's rendering
    gets flickery and slow. Reducing the width of the shadow helps and
    accomplishes the same effect */
    -moz-box-shadow: 0 0 0 0 white;
    opacity: 1.0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    zoom: 1;
    
    position: relative;
    z-index: 1000;
}

#seantis-overview-calendar .fc-widget-content, 
#seantis-overview-calendar td.fc-widget-content .fc-event-skin, 
#seantis-overview-calendar td.fc-widget-content .fc-event-head {
    border: none;
    opacity: 0.6;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=60);
    zoom: 1; 
}

#seantis-overview-calendar .event-unavailable, 
#seantis-overview-calendar .event-unavailable .fc-event-skin, 
#seantis-overview-calendar .event-unavailable .fc-event-head {
    background-color: #d7160f !important;
}

#seantis-overview-calendar .event-available, 
#seantis-overview-calendar .event-available .fc-event-skin, 
#seantis-overview-calendar .event-available .fc-event-head {
    background-color: #79aa00 !important;
}

#seantis-overview-calendar .event-partly-available, 
#seantis-overview-calendar .event-partly-available .fc-event-skin, 
#seantis-overview-calendar .event-partly-available .fc-event-head {
    background-color: #fd671f !important;
}

#timeframes .visibleTimeframe {
    color: #5b8146 !important;
}

#timeframes .hiddenTimeframe {
    color: #aaa !important;
}

#email_templates .resourceTitle,
#timeframes .resourceTitle {
    margin: 0 5px 0 0;
    font-size: 14px;
}

.overview-utils ul {
    margin-top: 10px;
    margin-left: 15px !important;
}

.overview-utils ul li {
    list-style-type: none;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAANkE3LLaAgAAAf1JREFUeJx1kr1O40AUhb8ZX5ugkIQ/CaWyIugiyki7D5AWhLQNFRUr8QA8DuU+wTZbUaNFqVfQQrEISzEhYNke39mCxQIcRhqNNHPup3vOHQNwfn6eq2rJgmWtDe7u7iaHh4ffgL8NwcrKyoFzzn+2syzz19fX/uzs7DfQ/VgvgAe4uroiiiIeHh5ot9uoKqrKzs4OT09PHB0djYqi+HVycrIHJG8BAKyvryMirK6uYozBe09VVYgIzjmSJOH4+PjrfD7/eXp6evBqx74CptMpaZpyf39PkiSkacpsNsMYQ1mW3N7eMplM2N/f/9Lv9/caHQwGg1ochiHe+7qT0WiEcw7nHMvLyxhjggbg4uICYwyqirUWVWV7e5swDJnNZlhrybKM4XDYCBGAOI4JgoCiKAjDEFWl1WrR6/XY2NhYNOH3gM3NTUSELMtotVoAOOdI05THx0fm8zkAu7u7iwGXl5cNC3EcE0URNzc3iAjWvmSuqk1Av99HRMjzvB5dGIa0222Gw2EN/dRCt9slCAI6nQ4A3nustXjvCYKgPhuAqqqAl5+oqogIVVXx/PzM2toaRVFgjEFEGAwG9Ho9XmvedZDnOdZayrKk0+kgIkRRhDEG5xxLS0t1RgstjMfj+vGt6GPBRxsGiLe2tr7rG+WisP7fG4DpdPoD+APwD5EpCiknvVzYAAAAAElFTkSuQmCC) no-repeat 0 3px;   
    background-repeat: no-repeat;
    font-size: 14px;
    padding: 1px 0 0 25px;
}

.templates-control a,
.timeframes-control a {
    margin-right: 3px;
}

.templates-global-control a,
.timeframes-global-control a {
    font-size: 14px;    
}

.templates-global-control:before,
.timeframes-global-control:before{
    content: '>>';
    margin-right: 5px;
}

.facilityOverview > div {
    margin-bottom: 15px;
}

.facilityOverview #directoryResultMap {
    float: none;
    width: 100%;
}

#default-cgmap {
    height: 300px;
}