/*
    Styles for plonetheme.sunburst
*/

/* context menu style */
#miniTip_c {
    padding: 0;
    font-size: 13px;
}

#miniTip_c div {
    padding: 3px 0 0 5px;
}

#miniTip_c a { 
    padding: 4px 0 2px 6px;
    display: block;
    color: black;
}

#miniTip_c a:before {
    content: '▶ ';
    font-size: 10px;
    color: #eae4b4;
}

#miniTip_c a:hover {
    font-weight: bold;
}

#miniTip_c a:hover:before {
    color: #927847;
}

#miniTip_c {
    min-width: 120px;
}

/* formular tabs */
.seantis-reservation-form ul.formTabs {
    margin: 5px 0 5px 0;   
}

.seantis-reservation-form ul.formTabs li.formTab {
    margin: 0 -1px 0 0;
    line-height: 30px;
}

.seantis-reservation-form .formTab a {
    background-color: #ddd;
    padding: 4px 8px;
    color: #555 !important;
    border: 1px solid #bbb;
    font-weight: normal;
}

.seantis-reservation-form .formTab a.required:after {
    content: " *";
    color: red;
}

.seantis-reservation-form .formTab a.selected,
.seantis-reservation-form .formTab a:hover {
    background-color: #c1e0ee;
    color: #232 !important;
    border: 1px solid #57a9cd;
    position: relative;
    font-weight: bold;
    border-width: 1px 1px 5px 1px;
}

.seantis-reservation-form .formTab a:hover {
    font-weight: normal;
    border-color: #bbb;
    background-color: #ddd;   
}

.seantis-reservation-form .formTab a.selected:hover {
    font-weight: bold;
    border-color: #57a9cd;
    background-color: #c1e0ee;   
}

.calendar-occupied {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAMAAACelLz8AAAAOVBMVEXY2Nj////d7h7d7h7d7h7d7h7///////////////////////////////////////////////////+4yo5sAAAAQklEQVQoke3LqQ3AMADAQKP8b/cftjjAUgaI6cmEmHKprY+59seRSkAlopJQyagUVCoqDZWOykBlorJQ2aj48+Rafr0hD9knm0tJAAAAAElFTkSuQmCC);
    background-repeat: repeat;
    border: solid #ccc 1px;
}

.loading {
    background-image: url(/++resource++seantis.reservation.images/loading.gif);
    background-repeat: no-repeat;
    background-position: center 12px;
    min-height: 30px;
}

.event-unavailable.groupSelection {
    -webkit-box-shadow: 0 0 4px 1px #a1291e;
    -moz-box-shadow: 0 0 4px 1px #a1291e;
    box-shadow: 0 0 4px 1px #a1291e; 
}

.event-available.groupSelection {
    -webkit-box-shadow: 0 0 4px 1px #379a00;
    -moz-box-shadow: 0 0 4px 1px #379a00;
    box-shadow: 0 0 4px 1px #379a00; 
}

.event-partly-available.groupSelection {
    -webkit-box-shadow: 0 0 4px 1px #e99623;
    -moz-box-shadow: 0 0 4px 1px #e99623;
    box-shadow: 0 0 4px 1px #e99623; 
}

#content table {
    margin-bottom: 0;
}

#formfield-form-widgets-days span.option {
    display: inline;
}

.multiCalendarContainer {
    float: left;
    width: 45%;
    margin-right: 5%;
    margin-bottom: 25px;
}

.reservation-title {
    width: 100%; 
    height: 25px;
    background-color: #175e90;
    margin-top: 20px;
    padding-top: 5px;
}

.reservation-pending .reservation-title {
    background-color: #888;   
}

/*Since the default plone theme uses !important in conjunction with an 
id selector we need quite the selectors to get a higher weight...*/
.reservation-title h3,
#content .reservation-title a,
#content .reservation-title a:visited,
#content .reservation-info .reservation-title a,
#content .reservation-info .reservation-title a:visited {
    font-size: 1em !important;
    font-weight: normal !important;
    display: inline;
    margin-left: 10px;
    margin-right: 11px;
    color: white !important;
    border-color: white !important;
}

#content .reservation-info .reservation-title a:hover,
#content .reservation-title a:hover {
    color: #75AD0A !important;
}

#content .reservation-info {
    margin: -10px auto 10px auto;   
}

#content .inline-reservations {
    border-top: solid 1px #dedede;
    margin: 0;
    padding: 0 10px;
    background-color: white;     
}

#content #inline-page {
    border: solid 1px #dedede;
    background-color: #eee; 
    margin-top: 20px;  
    min-height: 32px;
}

#content #inline-page h2 {
     margin-top: 10px;
}

a.reservation-delete {
   float: right;
}

.reservation-list {
    border: 1px solid #ccc;
    border-top: none;
    padding: 5px 10px 5px 20px;
}

.reservation-list:hover {
    background-color: #ddd;
}

.limitedList {
    overflow: auto;
    max-height: 150px;
    max-width: 400px;
    position: relative;
}

.your-reservations .limitedList,
.your-reservations-view .limitedList {
    max-width: 100%;   
}

.groupListDay {
    float: left;
    width: 75px;
    margin-bottom: 10px;
}

.groupListTime {
    width:300px !important; 
    float:left;
    text-align: center;
}

#inlineClose {
    background: url(../pb_close.png) no-repeat;
    cursor: pointer;
    position: relative;
    height: 36px;
    width: 30px;
    float: right;
    top: 3px;
    right: 3px;
}

div.error {
    background-color: #FDC;
    border: 1px solid red;
    padding: 4px 4px;
    font-size: 10px;
}

.splitscreen {
    width: 49%;
    float: left;
}

.splitright {
    padding-left: 15px;
}

.reservations-by-month .reservation-data {
     float:none;   
     width: 100%;
}

.reservation-data, .reservation-timespans {
     float:left;
     width: 50%;
}

.reservation-data {
    line-height: 1.35em;   
}

.reservation-data span.label {
    font-weight: normal;
    color: #555;
    display: inline-block;
    min-width: 75px;
    margin-top: 3px;
}

.reservation-list .block-title {
    font-size: 1em;
    font-weight: bold;   
    color: #222;
    padding-top: 15px;
    padding-bottom: 1px;
}

.reservation-data {
    padding-bottom: 5px;    
}

body fieldset {
    border: 1px solid #bbb;
}

body fieldset legend {
    font-weight: normal;
    padding: 0 10px;
    color: #343434;
}

body .field {
    margin-bottom: 0;
}

body .field input {
    margin-bottom: 0.5em;   
}

body .field:last-child input {
    margin-bottom: 0;
}

input[readonly] {
   background-color: #efefef;
   color: #454545;
   border-color: #bbb;
   padding-left: 2px;
}

body .enableFormTabbing fieldset {
    border: none;
    padding: 0 0 10px 2px;
}

body .fieldErrorBox .error {
    margin-bottom: 5px; 
}

body div.error {
    font-size: 12px;   

    padding-left: 10px;
}

body div.field.error {
    background-color: white;   
    padding-left: 0;
    border: none;
}

body .portalMessage {
    font-size: 12px;
    margin: 0 0 8px;   
}



.portaltype-seantis-reservation-emailtemplate form textarea,
.template-seantis\.reservation\.emailtemplate form textarea {
    height: 200px;
    margin-bottom: 30px;
}

.portaltype-seantis-reservation-emailtemplate form select,
.template-seantis\.reservation\.emailtemplate form select {
    margin-bottom: 30px;   
}



.seantis-reservation-form .formHelp {
    max-width: 50%;
    margin-left: 5px;
}

.seantis-reservation-form div.field {
    margin-bottom: 10px;   
}

.seantis-reservation-form .suppressVisualEditor {
    display: none;
}

#inline-page .hint {
    font-size: 12px;
    width: 100%;
    text-align: center;
    color: #555;
    padding-top:8px;
}

/* reservations in progress */
.uncommitted {
    margin-top: -28px;
    margin-bottom: 5px;
    color: #757575;
}


