*.egg
*.egg-info
*.mo
*.pyc
*.pyo
.DS_Store
.installed.cfg
.mr.developer.cfg
.svn
bin
bootstrap.py
build
buildout.cfg
database.cfg
develop-eggs
develop.cfg
dist
downloads
eggs
parts
src
test_database.py
var
versions.cfg
