[instance]
zcml-additional = 
    <configure xmlns="http://namespaces.zope.org/zope" xmlns:db="http://namespaces.zope.org/db"> 
        <include package="z3c.saconfig" file="meta.zcml" /> 
        <!--Sqlite-->
        <db:engine name="seantis.reservation" url="sqlite:///seantis.reservation.db" /> 
        <!--Postgres
        <db:engine name="seantis.reservation" url="postgresql+psycopg2://dev:gartebeiz@localhost:5431/reservation" /> 
        -->
        <db:session engine="seantis.reservation" />
    </configure>