#seantis-overview-calendar {
    page-break-before: always;
}

div.fc {
    page-break-before: always;
}

#inline-page {
    background-color: none !important;
    border: none !important;
}

div.splitscreen {
    page-break-after: always;
    float: none;
}

.inline-reservations {
    border: none !important;
}

.reservation {
    border: none !important;
}

.reservation-title {
    border: 1px solid black !important;
    border-width: 0 0 1px 0;
    background-color: white !important;
}

.reservation-title a {
    display: none !important;
}

.reservation-title h3 {
    color: black !important;
}

.reservation-timespans {
    width: 100% !important;
}

.reservation-timespans * {
    font-size: 12px !important;
}

#seantis-overview-calendar td {
    width: 80px !important;
    border: none !important;
}

#seantis-overview-calendar > * {
    -webkit-print-color-adjust: exact; 
}

div.fc > * {
    -webkit-print-color-adjust: exact;
}

#seantis-overview-calendar .event-unavailable .fc-day-content div:after {
    content: "0%" !important;
    font-size: 10px;
}

#seantis-overview-calendar .event-partly-available .fc-day-content div:after {
    content: "<100%" !important;
    font-size: 10px;
}

#seantis-overview-calendar .event-available .fc-day-content div:after {
    content: "100%" !important;
    font-size: 10px;
}

.overview-utils {
    display: none;
}

.timeframes-control, .timeframes-global-control {
    display: none;
}

#email_templates {
    display: none;
}