.calendar-occupied {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAMAAACelLz8AAAAOVBMVEXY2Nj////d7h7d7h7d7h7d7h7///////////////////////////////////////////////////+4yo5sAAAAQklEQVQoke3LqQ3AMADAQKP8b/cftjjAUgaI6cmEmHKprY+59seRSkAlopJQyagUVCoqDZWOykBlorJQ2aj48+Rafr0hD9knm0tJAAAAAElFTkSuQmCC);
    background-repeat: repeat;
    border: solid #ccc 1px;
}

.loading {
    background-image: url(/++resource++seantis.reservation.images/loading.gif);
    background-repeat: no-repeat;
    background-position: center 12px;
    min-height: 30px;
}

.event-unavailable.groupSelection {
    -webkit-box-shadow: 0 0 4px 1px #a1291e;
    -moz-box-shadow: 0 0 4px 1px #a1291e;
    box-shadow: 0 0 4px 1px #a1291e; 
}

.event-available.groupSelection {
    -webkit-box-shadow: 0 0 4px 1px #379a00;
    -moz-box-shadow: 0 0 4px 1px #379a00;
    box-shadow: 0 0 4px 1px #379a00; 
}

.event-partly-available.groupSelection {
    -webkit-box-shadow: 0 0 4px 1px #e99623;
    -moz-box-shadow: 0 0 4px 1px #e99623;
    box-shadow: 0 0 4px 1px #e99623; 
}

#content table {
    margin-bottom: 0;
}

#miniTip_c {
    padding: 0;
}

#miniTip_c div {
    background-color: #1d4f90;
    padding: 4px 0;
    padding-left: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#miniTip_c a { 
    padding-bottom: 4px;
    padding-top: 4px;
    display: block;
    padding-left: 24px;
}

#miniTip_c a:hover {
    background-color: #0d7dcd;
    text-decoration: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
#miniTip_c a:hover:before {
    content: '▶ ';
    margin-left: -14px;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

#miniTip_c {
    width: 120px;
}

.fc-event-bg {
    opacity: 0.15 !important;   
}

.event-unavailable, .event-unavailable .fc-event-skin, .event-unavailable .fc-event-head {
    background-color: #cb3926 !important;
    border-color: #cb3926 !important;
}

.event-available, .event-available .fc-event-skin, .event-available .fc-event-head {
    background-color: #729e2d !important;
    border-color: #729e2d !important;
}

.event-partly-available, .event-partly-available .fc-event-skin, .event-partly-available .fc-event-head {
    background-color: #e99623 !important;
    border-color: #e99623 !important;
}

#formfield-form-widgets-days span.option {
    display: inline;
}

.multiCalendarContainer {
    float: left;
    width: 45%;
    margin-right: 5%;
    margin-bottom: 25px;
}

.reservation-title {
    width: 100%; 
    height: 25px;
    background-color: #175e90;
    margin-top: 20px;
    padding-top: 5px;
}

.reservation-pending .reservation-title {
    background-color: #888;   
}

/*Since the default plone theme uses !important in conjunction with an 
id selector we need quite the selectors to get a higher weight...*/
.reservation-title h3,
#content .reservation-title a,
#content .reservation-title a:visited,
#content .reservation-info .reservation-title a,
#content .reservation-info .reservation-title a:visited {
    font-size: 1em !important;
    font-weight: normal !important;
    display: inline;
    margin-left: 10px;
    margin-right: 11px;
    color: white !important;
    border-color: white !important;
}

#content .reservation-info .reservation-title a:hover,
#content .reservation-title a:hover {
    color: #75AD0A !important;
}

#content .reservation-info {
    margin: -10px auto 10px auto;   
}

#content .inline-reservations {
    border-top: solid 1px #dedede;
    margin: 0;
    padding: 0 10px;
    background-color: white;     
}

#content #inline-page {
    border: solid 1px #dedede;
    background-color: #eee; 
    margin-top: 20px;  
    min-height: 32px;
}

#content #inline-page h2 {
     margin-top: 10px;
}

a.reservation-delete {
   float: right;
}

.reservation-list {
    border: 1px solid #ccc;
    border-top: none;
    padding: 5px 10px 5px 20px;
}

.reservation-list:hover {
    background-color: #ddd;
}

.limitedList {
    overflow: auto;
    max-height: 150px;
    max-width: 400px;
    position: relative;
}

.your-reservations .limitedList,
.your-reservations-view .limitedList {
    max-width: 100%;   
}

.groupListDay {
    float: left;
    width: 75px;
    margin-bottom: 10px;
}

.groupListTime {
    width:300px !important; 
    float:left;
    text-align: center;
}

#inlineClose {
    background: url(../pb_close.png) no-repeat;
    cursor: pointer;
    position: relative;
    height: 36px;
    width: 30px;
    float: right;
    top: 3px;
    right: 3px;
}

div.error {
    background-color: #FDC;
    border: 1px solid red;
    padding: 4px 4px;
    font-size: 10px;
}

.splitscreen {
    width: 49%;
    float: left;
}

.splitright {
    padding-left: 15px;
}


.icon-full-waitinglist, .event-full-waitinglist .fc-event-head {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAYAAAA7bUf6AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6N0RCOUY4QUY2MTI3MTFFMUI2QURCNTJCMEU4MTI4MUQiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6N0RCOUY4QjA2MTI3MTFFMUI2QURCNTJCMEU4MTI4MUQiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo3REI5RjhBRDYxMjcxMUUxQjZBREI1MkIwRTgxMjgxRCIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo3REI5RjhBRTYxMjcxMUUxQjZBREI1MkIwRTgxMjgxRCIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/Pnl/gw4AAAJCSURBVHjarFRNSFRRFP7eezOMOkmio6MUTkO5yCwLYmioRYFRFBQiREnQIiRIXNTKVRhki2hXZLsIAikoMAzKlIZsaCiKijaR5kKa5i+JMR2bd386d944b0ZbTNSB+867597zne9+90eTUuJfTcd/MIf63Jn8cYEI9XAp1gshwAXAlOfqX4KRtxsHZ5Li4vXgyZZAAURI2dcVqPb8TfWBu1PbSpgQag5g5MttYsCoGoNJ3uSm7Sm2PNYfHIRpctcKEEvc7tbTZbFYWCJgxks1UWtXNvwiURbIkZ21yK4EYXkQZSf2NOBeOI5ju72F2P1IHF277H4qvbSaiUkgJC4cBiW8TMAwdDyIJKDp9hkYeUUsaY6TMjavq0LW/MNylCoOQ0NnoJ4SkjgaaChhUtyfiqbBmFjNRFLMQWVH3ySJieVzE/JUHl+/AlfkFkRsGpqnCe01hykaLAIhVHX8nZR8cEc9xt+n0NFuH5vQzauomx1FS3cPXP4tyHwYQ/XkBJ52OPv2j5vXLGGFRc3QtRyAsmVPIZjPhrDpVC8qpkPA80uoWlsDv8+Ht5/kOZqSB2HM0oSo79vqQehjCnvbbCYT32dR0egHDp23dRhogiG0DaWa0HLamtfg21wGG72VmIn9LNwd1DVi8d0juB+exa9MDIuUM582wA1Ei3ZHhi8Of96e5cKt9l81TjqZuQvHEPR2wh15Al9tJe2gE/NJhpm4TmXFDZWvlfuehI839y/MRc8YXPNxQ36lrKEDY+yyGvstwAAJyTJXNttkxAAAAABJRU5ErkJggg==) !important;
    background-repeat: no-repeat;
    background-position: top right;   
}

.icon-fully-booked, .event-fully-booked .fc-event-head {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAARCAYAAADUryzEAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6Qzk4N0M2MTc2MTJBMTFFMUI2QURCNTJCMEU4MTI4MUQiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6Qzk4N0M2MTg2MTJBMTFFMUI2QURCNTJCMEU4MTI4MUQiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDpDOTg3QzYxNTYxMkExMUUxQjZBREI1MkIwRTgxMjgxRCIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDpDOTg3QzYxNjYxMkExMUUxQjZBREI1MkIwRTgxMjgxRCIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PrsNmaUAAAKzSURBVHjapFRrSFRBFP5m793XXV/rc9VMJYrMzIiowB8mSJFKpVGYEYIVphFIBBZmBZIV9PhhaS8QMsvsV2CUSiVpIKWWggnmM1JR1/WxL717752mFQzELPAMh2FmznfO+c4HQyilWImpsELjl7o8tS2gcI2fks9xikGUKayiytE3zd9+0jJ2YXEsWUzh5Fa//NhQelUtEKKws+iisDkVjNko7Z5SF9W0my8tS2GzSb6mZ+DJGRkWqwzbLKCoNOA5nhjVUt4/ZzDFQMHxucg4XYCE1CyM2HlMzPJw8D4QdCp9xfm92mVn4B/hZ4lPPeor9r5DGM/jWE4uvDwEeG9IRO31Q87o9WF02QRO2dDl/NEaJ2n9YTRIMAaEwCZxgKWbDVP4HpN5V/wrBVPKU3XJ4M6+2opb8MI0CK9jroUHJ6Lh2U2U9MQNBu56pF9ShcDkKq2iyFl6mErfPNiBzvsZoJh/I2yFHKnE4bzPcEj9eQSuh+a32Y6FBP5J1USUkemrCS1/fW8L2qBH2xSjY2cyOgGJhSZ0lyKy9Q7EoR7YOc2kBuKNPXVisXsGJsG+L5iYy7PPHsCHCQ6dDgoXk09ibH/vMe1l2DRThaj049BGRsPZUWfsbKwvqk9UW90dfCmMklZt389Vj8ehJTgFHOtckag7gTQHpL1Yh+QTOdD3NgBDTYC3D8x8ONrqGvvdHXCEqHitgKZmMzYedKBrWgCVAFmc78I4MwidKRJIOvNHvsvB4BQS4VZBtTaxoP99haR3jUgvKz9B40mhMwKGIFYsDLD6hMDx9RXAQHP5BJPMZ0bHIXN0eEGFgee5nuUdoZrH32Kv0KmJZE4t+IKo1FAo0nQ1JC2omY/wF8GrfsI6LmFglJNds/Qi+d//4GP66nN2y3A2J5NwVnmIocp210nFvwQYAHPAJtUng2wBAAAAAElFTkSuQmCC) !important;
    background-repeat: no-repeat;
    background-position: top right;      
}

a.event-full-waitinglist.event-fully-booked .fc-event-head {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAARCAYAAABXaxX/AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6Qzk4N0M2MTM2MTJBMTFFMUI2QURCNTJCMEU4MTI4MUQiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6Qzk4N0M2MTQ2MTJBMTFFMUI2QURCNTJCMEU4MTI4MUQiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDpDOTg3QzYxMTYxMkExMUUxQjZBREI1MkIwRTgxMjgxRCIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDpDOTg3QzYxMjYxMkExMUUxQjZBREI1MkIwRTgxMjgxRCIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PlQ5f6AAAASXSURBVHjazFV7TJVlGP99l8OBAxjncKcQmLGJgkhzLAYLXFAtW4YsJyzH1ExyY6tWk2UXrZHFLNogsPmHM0CrdRmNpqICCyimkyWmtOQiGsjlCEcOnMM5363nOwfOjcvsP5+z93u+733P+zy/9/dcXkZRFDwswuIhEl59lGwK9ZrkWPb9NaHyAY6TA+2SArOdtQzc5ytNgvyer4Gmq0bXe3276QMieq+kyI/JsgxJBkRVS+q7ApG0e0iQRIXm5cvlrySmu8D4yIHkaOmwRscwMhHHCbSBlXURou1dk0kj0fqHy51MVpTSgvTgsP/DxqHv+jZ4MbMxSvJc/9Rfx2FimpAzzkjKrB94TmL0GvGNZ/KeWhYMndIBpHHgJDEi0ulFCKQFSXBrmltYK8sohyBIWi8wJrMXGKS9UIq8+FX4d/guTtXXg+d52Phg6PynAmhZ3WxbGoyzGIrW7XkgVmbnCKAoeedMWLxXzkxm5+802PtbEEsg9ry+H6uCdHhkXS7Ofbbdun5t7LLlp+aGKqc7xh8IzIubDLD7gimbqACrZgiNgyHlvdbbVzJFbRj0gSL04TGYETmC+A8lsu7m0w1pdpmSr44rBU9MpBR/5TImzoNRpTArAt93jmF7ZqRr7seuMRQ86f42Ts8tZsZDNFVDOQPhdV9k5heXQOGdjAUpFpxtqERVX+YQBUkNlXWpkwoEhpKY8osc/zEOjmPxU9c4GNbdQxovEWv0Hw15TnpUB7uwNBitKCm7rUHbdqa8U4HGr4ugwBkRhn4xu1sx1XN5myQOvsZAOk7TlqXCpO7gOQb56eHkeAJb0yO8mPH87huZhijKi8AwcyJbaPCLrTlz7Al00+G7CxthnQXsxIFIbjc316Ahshr24b4vZzk/taKO0vjElxmFbPNEQ9OVCWLGqR2O5qk5W10BbdcJyKP9YMKikRqyhWYz3GCidLNboxnjiX1vF+C3exyuWxQIcwTCDodOuVqLDdPfImnHq9AmrIe1p1l/vf38x6a/e820vcoFhk6pXi8aAvFcWjguUEPMTXW3nbZjRxF6pwmJRXsX7CC4/SLO52pK8y4IVQ68dUkVP5wqnsTYjTPoGiH+pxjYyI06hBkgvrsSaze/BP/+NjAnC6Eb+BkJcaGswihvejKjdltnB2ccQFRRtTpaeoywtdbi8WxfO3os2HEwwzEMy2t16OgyIvllC3rv66CIlAN2Jzv66SH4RyUAz7/lju+haHAyE+8FRhSdOUNH3JwShra/jMhJdjNz8d6dFe04wLCJuQcHW+s+ChB2obHhEp9cmA3Gw4k5JAaWP39F4C/7YbOOOjLXPM1B4jCyKGcoTMmrg3B30oo1kQEYHJ1x3U0IjVrRzkICHzGk5lbHMrJf642Z8pYj32zhNDoD1aSGahUG/xwm8vcOPj4sgCpFA/OEiFtjDF2hSo13NSmdh0/f3GiX5EC1f6hDojwSHBejiIzIfAR2nUOcwW1ncIwl+HKNb2mb53XJkpfgjKXs2u2RfXRFxUkcO0xAan2r6fNdSVkr99wsdO5YXXbtlqcdufbZZtFh5z8BBgC/OEUgB01VRwAAAABJRU5ErkJggg==) !important;
}

.legend {
     float:right;   
     background-color: #e4f3ff;
     border-radius: 0 0 3px 3px;
     border: 1px solid #a7d8ff;
     border-top: none;
     color: #3a4a58;   
     padding-left: 8px;
     padding-bottom: 2px;
}

.legend div {
    display: inline;
    background-position: left;
    padding-left: 18px;
    padding-right: 10px;  
}

.legend div.color {
    padding: 0;
    padding-right: 8px;
}

.legend div.color div {
    margin-right: 1px;
    padding: 0;
    width: 12px;
    height: 12px;
    display: inline-block;
    position: relative;
    top: 1px;
}

@media all and (max-width: 900px) {
    .singlecalendar .fc-event-head {
        background-image: none !important;   
    }

    .singlecalendar .legend .icon {
        display: none !important;
    }
}

@media all and (max-width: 2000px) {
    .multicalendar .fc-event-head {
        background-image: none !important;   
    }

    .multicalendar .legend .icon {
        display: none !important;
    }
}

.fc-event-title {
    line-height: 14px;    
}

.reservations-by-month .reservation-data {
     float:none;   
     width: 100%;
}

.reservation-data, .reservation-timespans {
     float:left;
     width: 50%;
}

.reservation-data {
    line-height: 1.35em;   
}

.reservation-data span.label {
    font-weight: normal;
    color: #555;
    display: inline-block;
    min-width: 75px;
    margin-top: 3px;
}

.reservation-list .block-title {
    font-size: 1em;
    font-weight: bold;   
    color: #222;
    padding-top: 15px;
    padding-bottom: 1px;
}

.reservation-data {
    padding-bottom: 5px;    
}

body fieldset {
    border: 1px solid #bbb;
}

body fieldset legend {
    font-weight: normal;
    padding: 0 10px;
    color: #343434;
}

body .field {
    margin-bottom: 0;
}

body .field input {
    margin-bottom: 0.5em;   
}

body .field:last-child input {
    margin-bottom: 0;
}

input[readonly] {
   background-color: #efefef;
   color: #454545;
   border-color: #bbb;
   padding-left: 2px;
}

body .enableFormTabbing fieldset {
    border: none;
    padding: 0 0 10px 2px;
}

body .fieldErrorBox .error {
    margin-bottom: 5px; 
}

body div.error {
    font-size: 12px;   

    padding-left: 10px;
}

body div.field.error {
    background-color: white;   
    padding-left: 0;
    border: none;
}

body .portalMessage {
    font-size: 12px;
    margin: 0 0 8px;   
}

.fc-sat, .fc-sun {
    background-color: #eee;   
}

.seantis-reservation-form ul.formTabs {
    margin-top: 10px;   
}

.seantis-reservation-form ul.formTabs li.formTab {
    margin: 0;
    line-height: 30px;
}

.seantis-reservation-form ul.formTabs li.formTab:after {
     content: " ► ";   
     color: #888;
     margin: 4px;
}

.seantis-reservation-form ul.formTabs li.formTab:last-child:after {
     content: "";
}

.seantis-reservation-form .formTab a {
    background-color: #ddd;
    padding: 4px 8px;   
    border-radius: 4px;
    color: #555 !important;
    border: 1px solid #bbb;
}

.seantis-reservation-form .formTab a:hover {
    background-color: #ccf2ba;
    color: #232 !important;
}

.seantis-reservation-form .formTab a.required:after {
    content: " *";
    color: red;
}

.seantis-reservation-form .formTab a.selected {
    background-color: #c1e0ee;
    color: #232 !important;
    border: 1px solid #57a9cd;   
}

.portaltype-seantis-reservation-emailtemplate form textarea,
.template-seantis\.reservation\.emailtemplate form textarea {
    height: 200px;
    margin-bottom: 30px;
}

.portaltype-seantis-reservation-emailtemplate form select,
.template-seantis\.reservation\.emailtemplate form select {
    margin-bottom: 30px;   
}

#calroot {
    z-index: 10000; /* to overlap the overlay */
}

.seantis-reservation-form .formHelp {
    max-width: 50%;
    margin-left: 5px;
}

.seantis-reservation-form div.field {
    margin-bottom: 10px;   
}

.seantis-reservation-form .suppressVisualEditor {
    display: none;
}

#inline-page .hint {
    font-size: 12px;
    width: 100%;
    text-align: center;
    color: #555;
    padding-top:8px;
}

/* reservations in progress */
.uncommitted {
    margin-top: -28px;
    margin-bottom: 5px;
    color: #757575;
}

/* 
ensures that the plone menu is displayed above the calendar
*/
.fc-view > div {
    z-index: 0 !important;
}
