.calendarOccupied {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAMAAACelLz8AAAAOVBMVEXY2Nj////d7h7d7h7d7h7d7h7///////////////////////////////////////////////////+4yo5sAAAAQklEQVQoke3LqQ3AMADAQKP8b/cftjjAUgaI6cmEmHKprY+59seRSkAlopJQyagUVCoqDZWOykBlorJQ2aj48+Rafr0hD9knm0tJAAAAAElFTkSuQmCC) !important;
    background-repeat: repeat;
    border: solid #ccc 1px;
}

.groupSelection {
    -webkit-box-shadow: 0px 0px 4px 4px #6DADF2;
    -moz-box-shadow: 0px 0px 4px 4px #6DADF2;
    box-shadow: 0px 0px 4px 4px #6DADF2;
}

#content table {
    margin-bottom: 0;
}

#miniTip_c {
    padding: 0;
}

#miniTip_c div {
    background-color: #1d4f90;
    padding: 2px 0px;
    padding-left: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#miniTip_c a { 
    padding-bottom: 2px;
    padding-top: 2px;
    display: block;
    padding-left: 24px;
}

#miniTip_c a:hover {
    background-color: #0d7dcd;
    text-decoration: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#miniTip_c a:hover:before {
    content: '▶ ';
    margin-left: -14px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

#miniTip_c {
    width: 100px;
}

.groupEvent {
    width:180px !important; 
    float:left;
}

.event-unavailable, .event-unavailable .fc-event-skin, .event-unavailable .fc-event-head {
    background-color: #a1291e !important;
    border-color: #a1291e !important;
}

.event-available, .event-available .fc-event-skin, .event-available .fc-event-head {
    background-color: #379a00 !important;
    border-color: #379a00 !important;
}

.event-partly-available, .event-partly-available .fc-event-skin, .event-partly-available .fc-event-head {
    background-color: #e99623 !important;
    border-color: #e99623 !important;
}

#formfield-form-widgets-days span.option {
    display: inline;
}

.multiCalendarContainer {
    float: left;
    width: 45%;
    margin-right: 5%;
    margin-bottom: 25px;
}