.calendar-occupied {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAMAAACelLz8AAAAOVBMVEXY2Nj////d7h7d7h7d7h7d7h7///////////////////////////////////////////////////+4yo5sAAAAQklEQVQoke3LqQ3AMADAQKP8b/cftjjAUgaI6cmEmHKprY+59seRSkAlopJQyagUVCoqDZWOykBlorJQ2aj48+Rafr0hD9knm0tJAAAAAElFTkSuQmCC) !important;
    background-repeat: repeat;
    border: solid #ccc 1px;
}

.loading {
    background-image: url(/++resource++seantis.reservation.images/loading.gif);
    background-repeat: no-repeat;
    background-position: center 20px;
    min-height: 30px;
}

.groupSelection {
    -webkit-box-shadow: 0px 0px 4px 4px #6DADF2;
    -moz-box-shadow: 0px 0px 4px 4px #6DADF2;
    box-shadow: 0px 0px 4px 4px #6DADF2;
}

#content table {
    margin-bottom: 0;
}

#miniTip_c {
    padding: 0;
}

#miniTip_c div {
    background-color: #1d4f90;
    padding: 4px 0px;
    padding-left: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#miniTip_c a { 
    padding-bottom: 4px;
    padding-top: 4px;
    display: block;
    padding-left: 24px;
}

#miniTip_c a:hover {
    background-color: #0d7dcd;
    text-decoration: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#miniTip_c a:hover:before {
    content: '▶ ';
    margin-left: -14px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

#miniTip_c {
    width: 120px;
}

.event-unavailable, .event-unavailable .fc-event-skin, .event-unavailable .fc-event-head {
    background-color: #a1291e !important;
    border-color: #a1291e !important;
}

.event-available, .event-available .fc-event-skin, .event-available .fc-event-head {
    background-color: #379a00 !important;
    border-color: #379a00 !important;
}

.event-partly-available, .event-partly-available .fc-event-skin, .event-partly-available .fc-event-head {
    background-color: #e99623 !important;
    border-color: #e99623 !important;
}

#formfield-form-widgets-days span.option {
    display: inline;
}

.multiCalendarContainer {
    float: left;
    width: 45%;
    margin-right: 5%;
    margin-bottom: 25px;
}

.reservation-title {
    width: 100%; 
    height: 25px;
    background-color: #457baa;
    margin-top: 20px;
    padding-top: 5px;
}

/*Since the default plone theme uses !important in conjunction with an 
id selector we need quite the selectors to get a higher weight...*/
.reservation-title h3,
#content .reservation-title a,
#content .reservation-title a:visited,
#reservation-info .reservation-title a,
#reservation-info .reservation-title a:visited {
    font-size: 1em !important;
    font-weight: normal !important;
    display: inline;
    margin-left: 10px;
    margin-right: 11px;
    color: white !important;
    border-color: white !important;
}

#reservation-info .reservation-title a:hover,
#content .reservation-title a:hover {
    color: #75AD0A !important;
}

a.reservation-delete {
   float: right;
}

.reservation-list {
    border: 1px solid #ccc;
    border-top: none;
    padding: 5px 10px 5px 20px;
}

.reservation-list:hover {
    background-color: #ddd;
}

.limitedList {
    overflow: auto;
    max-height: 500px;
}

.groupListDay {
    float: left;
    width: 75px;
    margin-bottom: 10px;
}

.groupListTime {
    width:180px !important; 
    float:left;
    text-align: center;
}

#inlineClose {
    background-image: url(../pb_close.png);
    cursor: pointer;
    position: relative;
    height: 30px;
    width: 30px;
    float: right;
    top: 35px;
}

div.error {
    background-color: #FDC;
    border: 1px solid red;
    padding: 4px 4px;
    font-size: 10px;
}